# Travis configuration
.travis.yml

# Webpack configuration
webpack.config.js

# Eslint configuration
.eslint

# Vscode configuration
jsconfig.json

# Source files
src

# Sourcemap files
lib/*.map

# Include the dot resources (ignore MacOS files)
!resources/*/.*
resources/*/.DS_Store

# Include vscode files
!resources/vscode/*