# Travis configuration
.travis.yml

# Webpack configuration
webpack.config.js

# Eslint configuration
.eslint

# Vscode configuration
.vscode
jsconfig.json

# Source files
src

# Sourcemap files
lib/*.map