# Travis configuration
.travis.yml

# Webpack configuration
webpack.config.js

# Source files
src

# Sourcemap files
lib/*.map
resources/*/*.map

# Include the dot resources (ignore MacOS files)
!resources/*/.*
resources/*/.DS_Store